@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600&family=Montserrat:wght@300&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* *****************************main container*********** */
main {
  max-width: 1000px;
  /* border: 2px solid red; */
  margin: 0 auto;
}
main h1 {
  margin-top: 20px;
  text-align: center;
  width: 100px;
  margin: 0 auto;
}
.container {
  /* border: 2px solid gold; */
  margin: auto;
  width: 80%;
  display: flex;
}
/* ************container -left*********************** */
form {
  padding: 40px;
  width: 450px;
}
.fa {
  color: #828282;
}

.label {
  font-size: 0.8rem;
  margin: 10px 0;
}
.input_box {
  border: 2px solid grey;
  width: 350px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 10px;
}
.input_text {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  margin-left: 10px;
}
.middle_title {
  margin-top: 50px;
}
.input_bottom {
  /* border: 2px solid red; */
  display: flex;
  /* align-items: center; */
}
.country_div {
  /* border: 2px solid greenyellow; */
  width: 130px;
}
.post_div {
  /* border: 2px solid greenyellow; */
  width: 210px;
}
.post_div,
.country_div {
  border: 1px solid gray;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
  padding-top: 9px;
  display: flex;
  align-items: center;
}
.country_box,
.post_box {
  border: none;
  outline: none;
}
.post_box {
  margin-left: 7px;
}

.country_box {
  margin-left: 17px;
}
label {
  display: inline-block;
  margin: 20px 0 0 10px;
  font-size: 0.8rem;
}
.button {
  background-color: #f2994a;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 270px;
}
/* ************************************container right******************** */
.shopping {
  /* border: 2px solid blue; */
  margin-top: 40px;
  background-color: #eeee;
  height: 400px;
  width: 365px;
  padding: 20px;
  border-radius: 10px;
}

.shopping_sub {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
img {
  border-radius: 10px;
  margin-right: 20px;
}
.shopping-right p {
  /* border: 2px solid red; */
  color: #f2994a;
  font-weight: 600;
}
.shopping-right span {
  /* border: 2px solid red; */
  color: #4e5150;
  font-weight: 600;
  font-size: 12px;
  text-decoration: line-through;
}
.shopping-right_sayac {
  border: 2px solid #888888;
  border-radius: 5px;
  height: 34px;
  padding: 4px;
  align-items: center;
  margin-top: 30px;
  width: 100px;
  display: flex;
  justify-content: space-around;
}
.minus,
.plus {
  font-size: 18px;
  font-weight: 900;
  background-color: #e0e0e0;
  padding: 0.1px 6px;
  border-radius: 6;
}
.total {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  height: 30px;
  border-top: 1px solid grey;
}
.price {
  /* border: 2px solid red; */
  margin-top: 60px;
}

@media only screen and (max-width: 960px) {
  .container {
    /* display: block; */
    display: block;
    flex-direction: column;
  }
}
